@charset "UTF-8";

 body{
    font: normal 20px arial, verdana, serif;
    background-color: rgb(126, 134, 145);
    text-align: center;
    margin-top: 40px;
 }
 main{
    background-color: rgba(170, 201, 190, 0.644);
    text-align: center;
    max-width: 1200px;
    min-width: 400px;
    margin: auto;
 }
 h1{
    font-family: 'Courier New', Courier, monospace;
 }
 .patrocinadores{
   text-align: center;
   background-color: rgb(194, 231, 218) ;
   height: 160px;
   max-width: 1200px;
   min-width: 400px;
   margin: auto;
   
 }
 div{
   display: inline-block;
 }
 .principal{
   height: 80px;
   
 }
